Normative references to discontinued specs in Network Error Logging


While crawling [Network Error Logging](https://w3c.github.io/network-error-logging/), the following normative references were detected as pointing to discontinued specifications:
* [x] [RFC7230](https://httpwg.org/specs/rfc7230.html) has been obsoleted by [rfc9110](https://httpwg.org/specs/rfc9110.html),[rfc9112](https://httpwg.org/specs/rfc9112.html)
* [x] [RFC7231](https://httpwg.org/specs/rfc7231.html) has been obsoleted by [rfc9110](https://httpwg.org/specs/rfc9110.html)
* [x] [RFC7232](https://httpwg.org/specs/rfc7232.html) has been obsoleted by [rfc9110](https://httpwg.org/specs/rfc9110.html)
* [ ] [RFC7234](https://httpwg.org/specs/rfc7234.html) has been obsoleted by [rfc9111](https://httpwg.org/specs/rfc9111.html)

<sub>This issue was detected and reported semi-automatically by [Strudy](https://github.com/w3c/strudy/) based on data collected in [webref](https://github.com/w3c/webref/).</sub>


If we merge https://github.com/w3c/network-error-logging/pull/171, I can steal this.

> * [RFC7234](https://httpwg.org/specs/rfc7234.html) has been obsoleted by [rfc9111](https://httpwg.org/specs/rfc9111.html)

I don't see any references to 7234. 🤷 